body {
    background-color: #1B263B;
    min-height: 100vh;
}

.experience h1 {
    color: #B3C8CF; 
    font-size: 90px;
    font-family: "Poppins", sans-serif;
    margin-left: 100px;
    margin-bottom: 50px;
}

#work-experience h2 {
    color: #B3C8CF; 
    font-size: 50px;
    margin-left: 100px;
}

#education h2 {
    color: #B3C8CF; 
    font-size: 50px;
    margin-left: 200px;
}

.card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.UofC {
    width: 600px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 6px #6d95a3;
    margin: 20px;
    background-color: #B3C8CF;
    transition: transform 0.3s ease;
}

.UofC:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.UofC img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 16px;
}

.card-content h3 {
    color: #43606b; 
    font-size: 30px;
    margin-bottom: 8px;
}

.card-content li {
    color: #43606b; 
    font-size: 15px;
    margin-left: 10px;
}

.card-content h4 {
    color: #43606b; 
}

.launchpad {
    width: 600px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 6px #6d95a3;
    margin: 20px;
    background-color: #B3C8CF;
    transition: transform 0.3s ease;
}

.launchpad:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.launchpad img {
    width: 100%;
    height: auto;
}

.UBC {
    width: 600px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 6px #6d95a3;
    margin: 20px;
    background-color: #B3C8CF;
    transition: transform 0.3s ease;
}

.UBC:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.UBC img {
    width: 100%;
    height: auto;
}

.udemy {
    width: 600px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 6px #6d95a3;
    margin: 20px;
    background-color: #B3C8CF;
    transition: transform 0.3s ease;
}

.udemy:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.udemy img {
    width: 100%;
    height: auto;
}

.card-content h4 {
    margin-bottom: 10px;
}

.ubc-courses, .udemy-courses {
    color: #43606b;
}